.home-banner {
    position: relative;

    .bnr-slide {
        width: 100%;
        height: auto;
    }

    .home-caption {
        position: absolute;
        max-width: 450px;
        top: 30%;
        left: 11%;

        h1.title-cap {
            font-size: 2.625em;
            color: #3480E3;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        p.subtitle-cap {
            font-size: 1em;
            color: #000;
            line-height: 27px;
            font-weight: 300;
        }
    }
}
