.home-banner {
    position: relative;

    .bnr-slide {
        width: 100%;
        height: auto;
    }

    .home-caption {
        position: absolute;
        max-width: 450px;
        top: 30%;
        left: 11%;

        h1.title-cap {
            font-size: 2.625em;
            color: #3480E3;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        p.subtitle-cap {
            font-size: 1em;
            color: #000;
            line-height: 27px;
            font-weight: 300;
        }
    }
}
/* Media Queries */

@media only screen and (min-width: 1081px) and (max-width: 1280px) {
    .home-banner {
        .home-caption {
            max-width: 25rem;
            top: 25%;
            left: 5%;

            h1.title-cap {
                font-size: 2.0625em;
            }

            p.subtitle-cap {
                font-size: 0.875em;
                line-height: 20px;
            }

            button {
                max-width: 15rem;
                margin-top: .75rem;
            }
        }
    }
}

@media only screen and (min-width: 761px) and (max-width: 1080px) {
    .home-banner {
        .home-caption {
            max-width: 19rem;
            top: 25%;
            left: 5%;

            h1.title-cap {
                font-size: 2.0625em;
            }

            p.subtitle-cap {
                font-size: 0.875em;
                line-height: 20px;
            }

            button {
                max-width: 15rem;
                margin-top: .75rem;
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    .home-banner {
        .home-caption {
            max-width: 19rem;
            top: 25%;
            left: 5%;

            h1.title-cap {
                font-size: 2.0625em;
            }

            p.subtitle-cap {
                font-size: 0.875em;
                line-height: 20px;
            }

            button {
                max-width: 15rem;
                margin-top: .75rem;
            }
        }
    }
}