/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');

$primary:  #3480E3;
$secondary:  #E53167;
$black:  #223242;

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', 'sans-serif';
    margin: 0;
}

small {
    font-weight: 300;
}

body {
    margin: 0;
    font-family: 'Montserrat', 'sans-serif';
    scroll-behavior: smooth;
    background: #FFF;
}

.g-container {
    width: 75%;
    margin: 0 auto;
}

header {
    position: relative;
    background-color: #FFF;
    padding: 1.5em 0;
    -webkit-box-shadow: 1px -3px 20px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px -3px 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px -3px 20px -5px rgba(0, 0, 0, 0.5);
    z-index: 9999;

    a {
        color: $primary;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    a.logo {
        font-weight: bold;
        font-size: 1.2em;
        transition: .6s all;

        &:hover {
            color: darken($secondary, 10%)
        }
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em; 
                text-transform: uppercase;
                font-size: .75em;
                font-weight: bold;

                &:hover {
                    color: $secondary;
                }
            }

            li.active a {
                color: $primary;
            }

            li.last-menu > a {
                color: #FFF;
                background: $secondary;
                padding: .75em 1.5em;
                border-radius: 5px;
                font-weight: 600;
                margin-left: 10px;

                &:hover {
                    background: darken($secondary, 10%);
                }
            }
        }
    }
}

footer {
    background: $primary;
    width: 100%;
    padding: 5rem 0rem 8.75rem 0rem;;
    color: #FFF;
}
.flx {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // justify-content: center;

    .desc {
        width: 30%;
        padding: 0px 10px;
        line-height: 27px;

        h2 {
            font-weight: bold;
            margin-bottom: 20px;
        }
    }

    .nav-footer {
        width: 15%;
        padding: 0px 10px;

        ul li p.footer-title {
            font-weight: bold;
        }

        ul li {
            list-style-type: none;
            margin-bottom: 20px;
        }

        ul li a {
            text-transform: capitalize;
            text-decoration: none;
            color: #FFF;

            &:hover {
                color: darken(#FFF, 10%);
            }
        }
    }

    .nav-footer-last {
        max-width: 40%;
        padding: 0px 10px;

        ul li p.footer-title {
            font-weight: bold;
        }

        ul li {
            list-style-type: none;
            margin-bottom: 20px;
        }

        ul li a {
            text-transform: capitalize;
            text-decoration: none;
            color: #FFF;

            &:hover {
                color: darken(#FFF, 10%);
            }
        }
    }
}

.default-mid {
    padding: 5rem 6rem;
    display: flex;
    justify-content: center;
    text-align: center;

    .title-wrapper {
        text-align: center;

        .title-section {
            font-weight: 300;
            font-size: 2.625em;
            line-height: 50px;
            margin-bottom: 10px;
        }
    }
}

.default-sec {
    padding: 5rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    h2.title-sec {
        font-size: 32px;
        margin-bottom: 10px;
    }
}

.img-construction {
    width: 45rem;
}

.separator {
    background: $primary;
    height: .5rem;
    width: 10rem;
    border-radius: 50rem;
    margin: 0 auto;
}

.font-bold {
    font-weight: bold !important;
}