/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Montserrat', 'sans-serif';
  margin: 0;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

small {
  font-weight: 300;
}

.blue {
  background-color: #3480E3 !important;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'sans-serif';
  scroll-behavior: smooth;
  background: #FFF;
}

.g-container {
  width: 75%;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  background-color: #FFF;
  padding: 1.5em 0;
  -webkit-box-shadow: 1px -3px 20px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px -3px 20px -5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

header a {
  color: #3480E3;
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
}

header a.logo {
  font-weight: bold;
  font-size: 1.2em;
  -webkit-transition: .6s all;
  transition: .6s all;
}

header a.logo:hover {
  color: #ca194e;
}

header nav {
  float: right;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li a {
  padding: 1em;
  text-transform: uppercase;
  font-size: .75em;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #E53167;
}

header nav ul li.active a {
  color: #3480E3;
}

header nav ul li.last-menu > a {
  color: #FFF;
  background: #E53167;
  padding: .75em 1.5em;
  border-radius: 5px;
  font-weight: 600;
  margin-left: 10px;
}

header nav ul li.last-menu > a:hover {
  background: #ca194e;
}

footer {
  background: #3480E3;
  width: 100%;
  padding: 5rem 0rem 8.75rem 0rem;
  color: #FFF;
}

.flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flx .desc {
  width: 30%;
  padding: 0px 10px;
  line-height: 27px;
}

.flx .desc h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.flx .nav-footer {
  width: 15%;
  padding: 0px 10px;
}

.flx .nav-footer ul li p.footer-title {
  font-weight: bold;
}

.flx .nav-footer ul li {
  list-style-type: none;
  margin-bottom: 20px;
}

.flx .nav-footer ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: #FFF;
}

.flx .nav-footer ul li a:hover {
  color: #e6e6e6;
}

.flx .nav-footer-last {
  max-width: 40%;
  padding: 0px 10px;
}

.flx .nav-footer-last ul li p.footer-title {
  font-weight: bold;
}

.flx .nav-footer-last ul li {
  list-style-type: none;
  margin-bottom: 20px;
}

.flx .nav-footer-last ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: #FFF;
}

.flx .nav-footer-last ul li a:hover {
  color: #e6e6e6;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.mini-card {
  padding: 2.25rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.2);
}

.mini-card .ic {
  width: 6rem;
}

.mini-card .mini-status {
  margin-left: 1.5rem;
}

.mini-card .mini-status .main-status {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 10px;
}

.mini-card .mini-status .category-status {
  margin-top: 10px;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
}

.default-mid {
  padding: 5rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.default-mid .title-wrapper {
  text-align: center;
}

.default-mid .title-wrapper .title-section {
  font-weight: 300;
  font-size: 2.625em;
  line-height: 50px;
  margin-bottom: 10px;
  color: #223242;
}

.default-mid .title-wrapper .subtitle-section {
  margin: 0 auto;
  max-width: 70%;
  font-weight: 300;
  color: #657783;
  margin-top: 30px;
  line-height: 27px;
}

.default-sec {
  padding: 5rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 15vh;
}

.default-sec h2.title-sec {
  font-size: 32px;
  margin-bottom: 10px;
}

.img-construction {
  width: 40rem;
}

.separator {
  background: #3480E3;
  height: .5rem;
  width: 7rem;
  border-radius: 50rem;
  margin: 0 auto;
}

.mini-separator {
  background: #FF840D;
  height: .5rem;
  width: 3rem;
  border-radius: 50rem;
  margin: 0 auto;
}

.font-bold {
  font-weight: bold !important;
}

.blue-fluid {
  background: #3480E3;
  padding: 5rem 0;
}

.blue-fluid .item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bello;
}

.blue-fluid .item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: wello;
  float: right;
  text-align: right;
}

.blue-fluid .wrapper-fluid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'bello wello';
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.blue-fluid .wrapper-fluid > div {
  color: #FFF;
}

.blue-fluid .wrapper-fluid > div h1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
}

.img-program {
  max-width: 30rem;
  border-radius: 10px;
}

.program-caption {
  width: 30rem;
  text-align: left;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0 10px;
  padding: 0 1.25rem;
}

.program-caption h3 {
  font-weight: 300;
  font-size: 1.875em;
  margin-bottom: 1rem;
}

.program-caption p {
  line-height: 1.5rem;
}

.btn-primary {
  color: #FFF;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  width: 20rem;
  letter-spacing: 1.5px;
  border-style: none;
  border-radius: .5rem;
  background: #E53167;
  padding: .75rem 1.5rem;
  margin-top: 2rem;
  -webkit-transition: .5s all;
  transition: .5s all;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #ca194e;
}

.btn-primary.btn-big {
  padding: 1.2rem 3rem;
  font-size: 1.625em;
  margin: 0 auto;
  font-weight: 300;
}

/* Media Queries */
@media only screen and (min-width: 1081px) and (max-width: 1280px) {
  .g-container {
    width: 80%;
    margin: 0 auto;
  }
  .blue-fluid h1 {
    font-size: 2.0625em !important;
  }
  header nav {
    display: initial;
  }
  .img-construction {
    width: 25rem;
  }
  .default-mid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    padding: 6rem 2rem;
  }
  .default-mid .title-section {
    font-size: 2.0625em !important;
  }
  .default-mid .subtitle-section {
    max-width: 100% !important;
  }
  section.default-mid .program-caption button {
    width: 100%;
  }
  .default-sec {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1.5rem;
    padding: 0;
    padding-bottom: 15vh;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1080px) {
  .g-container {
    width: 80%;
    margin: 0 auto;
  }
  .blue-fluid h1 {
    font-size: 2.0625em !important;
  }
  header nav {
    display: initial;
  }
  .img-construction {
    width: 25rem;
  }
  .default-mid {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    padding: 3rem 2rem;
  }
  .default-mid .title-section {
    font-size: 2.0625em !important;
  }
  .default-mid .subtitle-section {
    max-width: 100% !important;
  }
  section.default-mid .program-caption button {
    width: 100%;
  }
  .default-sec {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1.5rem;
    padding: 0;
    padding-bottom: 15vh;
  }
}

@media only screen and (max-width: 760px) {
  .g-container {
    width: 90%;
    margin: 0 auto;
  }
  .blue-fluid h1 {
    font-size: 2.0625em !important;
  }
  header nav {
    display: none;
  }
  .img-construction {
    width: 25rem;
  }
  .default-mid {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    padding: 3rem 2rem;
  }
  .default-mid .title-section {
    font-size: 2.0625em !important;
  }
  .default-mid .subtitle-section {
    max-width: 100% !important;
  }
  section.default-mid .program-caption button {
    width: 100%;
  }
  .default-sec {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1.5rem;
    padding: 0;
    padding-bottom: 6rem;
  }
}

@media only screen and (min-width: 376px) and (max-width: 414px) {
  .g-container {
    width: 90%;
    margin: 0 auto;
  }
  .blue-fluid h1 {
    font-size: 2.0625em !important;
  }
  header {
    padding: 1rem 0;
  }
  header nav {
    display: none;
  }
  .img-construction {
    width: 25rem;
  }
  .default-mid {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    padding: 3rem 2rem;
    padding-bottom: 1.5rem;
  }
  .default-mid .title-section {
    font-size: 1.8rem !important;
    line-height: 2rem !important;
    font-weight: bold !important;
  }
  .default-mid .subtitle-section {
    max-width: 100% !important;
  }
  .mini-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 1rem;
    padding: .75rem 1.25rem;
  }
  .mini-card .ic {
    width: 5rem;
  }
  .mini-card .main-status {
    font-size: 3em !important;
  }
  .mini-card .mini-status {
    min-width: 6rem;
    margin-left: 0 !important;
  }
  section.default-mid .program-caption button {
    width: 100%;
  }
  .default-sec {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1.5rem;
    padding: 0;
    padding-bottom: 6rem;
  }
  .default-sec .img-construction {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .blue-fluid {
    padding: 3rem 0;
  }
  .blue-fluid .wrapper-fluid {
    display: block;
  }
  .blue-fluid .wrapper-fluid h1 {
    font-size: 1.5em !important;
    line-height: 1.2em !important;
    margin-bottom: 1.5rem;
  }
  .blue-fluid .wrapper-fluid .item2 {
    float: none;
  }
  .blue-fluid .wrapper-fluid .item2 button.btn-primary.btn-big {
    width: 100%;
    padding: 1rem 1rem;
  }
  .wrapper-imgprogram {
    width: 100%;
  }
  .wrapper-imgprogram .img-program {
    width: 15rem;
  }
  .program-caption {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  footer {
    padding: 2rem 0rem 2rem 0rem;
  }
  footer div.g-container.flx {
    display: block;
  }
  footer div.g-container.flx .desc {
    display: contents;
    width: 100%;
    padding: 10px;
    margin: 0;
    line-height: 20px;
  }
  footer div.g-container.flx .nav-footer {
    display: contents;
    width: 100%;
    padding: 10px;
    margin: 0;
  }
  footer div.g-container.flx .nav-footer ul {
    padding: 0;
    margin-top: 1.75rem;
    margin-bottom: .75rem;
  }
  footer div.g-container.flx .nav-footer ul li {
    margin-bottom: 10px;
  }
  footer div.g-container.flx .nav-footer-last {
    display: contents;
    width: 100%;
    padding: 10px;
    margin: 0;
    line-height: 20px;
  }
  footer div.g-container.flx .nav-footer-last ul {
    padding: 0;
    margin-top: 1.75rem;
    margin-bottom: .75rem;
  }
  footer div.g-container.flx .nav-footer-last ul li {
    margin-bottom: 10px;
  }
  .img-construction {
    width: 15rem;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .g-container {
    width: 90%;
    margin: 0 auto;
  }
  .blue-fluid h1 {
    font-size: 2.0625em !important;
  }
  header {
    padding: 1rem 0;
  }
  header nav {
    display: none;
  }
  .img-construction {
    width: 25rem;
  }
  .default-mid {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    padding: 3rem 2rem;
    padding-bottom: 1.5rem;
  }
  .default-mid .title-section {
    font-size: 1.8rem !important;
    line-height: 2rem !important;
    font-weight: bold !important;
  }
  .default-mid .subtitle-section {
    max-width: 100% !important;
  }
  .mini-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 1rem;
    padding: .75rem 1.25rem;
  }
  .mini-card .ic {
    width: 5rem;
  }
  .mini-card .main-status {
    font-size: 3em !important;
  }
  .mini-card .mini-status {
    min-width: 6rem;
    margin-left: 0 !important;
  }
  section.default-mid .program-caption button {
    width: 100%;
  }
  .default-sec {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1.5rem;
    padding: 0;
    padding-bottom: 6rem;
  }
  .default-sec .img-construction {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .blue-fluid {
    padding: 3rem 0;
  }
  .blue-fluid .wrapper-fluid {
    display: block;
  }
  .blue-fluid .wrapper-fluid h1 {
    font-size: 1.5em !important;
    line-height: 1.2em !important;
    margin-bottom: 1.5rem;
  }
  .blue-fluid .wrapper-fluid .item2 {
    float: none;
  }
  .blue-fluid .wrapper-fluid .item2 button.btn-primary.btn-big {
    width: 100%;
    padding: 1rem 1rem;
  }
  .wrapper-imgprogram {
    width: 100%;
  }
  .wrapper-imgprogram .img-program {
    width: 15rem;
  }
  .program-caption {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  footer {
    padding: 2rem 0rem 2rem 0rem;
  }
  footer div.g-container.flx {
    display: block;
  }
  footer div.g-container.flx .desc {
    display: contents;
    width: 100%;
    padding: 10px;
    margin: 0;
    line-height: 20px;
  }
  footer div.g-container.flx .nav-footer {
    display: contents;
    width: 100%;
    padding: 10px;
    margin: 0;
  }
  footer div.g-container.flx .nav-footer ul {
    padding: 0;
    margin-top: 1.75rem;
    margin-bottom: .75rem;
  }
  footer div.g-container.flx .nav-footer ul li {
    margin-bottom: 10px;
  }
  footer div.g-container.flx .nav-footer-last {
    display: contents;
    width: 100%;
    padding: 10px;
    margin: 0;
    line-height: 20px;
  }
  footer div.g-container.flx .nav-footer-last ul {
    padding: 0;
    margin-top: 1.75rem;
    margin-bottom: .75rem;
  }
  footer div.g-container.flx .nav-footer-last ul li {
    margin-bottom: 10px;
  }
  .img-construction {
    width: 15rem;
  }
}

@media only screen and (max-width: 320px) {
  .g-container {
    width: 90%;
    margin: 0 auto;
  }
  .blue-fluid h1 {
    font-size: 2.0625em !important;
  }
  header {
    padding: 1rem 0;
  }
  header nav {
    display: none;
  }
  .img-construction {
    width: 25rem;
  }
  .default-mid {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    padding: 3rem 2rem;
    padding-bottom: 1.5rem;
  }
  .default-mid .title-section {
    font-size: 1.8rem !important;
    line-height: 2rem !important;
    font-weight: bold !important;
  }
  .default-mid .subtitle-section {
    max-width: 100% !important;
  }
  .mini-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 1rem;
    padding: .75rem 1.25rem;
  }
  .mini-card .ic {
    width: 5rem;
  }
  .mini-card .main-status {
    font-size: 3em !important;
  }
  .mini-card .mini-status {
    min-width: 6rem;
    margin-left: 0 !important;
  }
  section.default-mid .program-caption button {
    width: 100%;
  }
  .default-sec {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1.5rem;
    padding: 0;
    padding-bottom: 6rem;
  }
  .default-sec .img-construction {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .blue-fluid {
    padding: 3rem 0;
  }
  .blue-fluid .wrapper-fluid {
    display: block;
  }
  .blue-fluid .wrapper-fluid h1 {
    font-size: 1.5em !important;
    line-height: 1.2em !important;
    margin-bottom: 1.5rem;
  }
  .blue-fluid .wrapper-fluid .item2 {
    float: none;
  }
  .blue-fluid .wrapper-fluid .item2 button.btn-primary.btn-big {
    width: 100%;
    padding: 1rem 1rem;
  }
  .wrapper-imgprogram {
    width: 100%;
  }
  .wrapper-imgprogram .img-program {
    width: 15rem;
  }
  .program-caption {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  footer {
    padding: 2rem 0rem 2rem 0rem;
  }
  footer div.g-container.flx {
    display: block;
  }
  footer div.g-container.flx .desc {
    display: contents;
    width: 100%;
    padding: 10px;
    margin: 0;
    line-height: 20px;
  }
  footer div.g-container.flx .nav-footer {
    display: contents;
    width: 100%;
    padding: 10px;
    margin: 0;
  }
  footer div.g-container.flx .nav-footer ul {
    padding: 0;
    margin-top: 1.75rem;
    margin-bottom: .75rem;
  }
  footer div.g-container.flx .nav-footer ul li {
    margin-bottom: 10px;
  }
  footer div.g-container.flx .nav-footer-last {
    display: contents;
    width: 100%;
    padding: 10px;
    margin: 0;
    line-height: 20px;
  }
  footer div.g-container.flx .nav-footer-last ul {
    padding: 0;
    margin-top: 1.75rem;
    margin-bottom: .75rem;
  }
  footer div.g-container.flx .nav-footer-last ul li {
    margin-bottom: 10px;
  }
  .img-construction {
    width: 15rem;
  }
}
/*# sourceMappingURL=main.css.map */